@import 'global.pcss';

:global {
  .night-mode {
    color: #fff;
    background: #242f3e;
  }

  .container {
    margin: 0 auto;
    padding: 0 10px;
    max-width: 520px;
    width: 100%;
    box-sizing: border-box;

    @media (max-width: 520px) {
      overflow: hidden;
    }
  }

  .night-mode-container {
    margin: 15px 0;
  }
}
