@import 'global.pcss';

:global {
  .night-mode {
    color: #fff;
    background: #242f3e;
  }

  .container {
    margin: 0 auto;
    max-width: 500px;
    width: 100%;
  }

  .night-mode-container {
    margin: 15px 0;
  }
}
