.wrapSvg {
  path {
    fill: transparent;
    stroke-width: 2;
  }

  text {
    font-family: "Open Sans";
    font-size: 14px;
    fill: #aaa;
    transition: all 0.5s;
  }
}

.wrap {
  position: relative;
}
